@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fontlibrary.org/face/fira-mono');

body {
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 2.5em;
	width: 100%;
	text-align: center;
}

.description {
	padding: 2em;
	font-size: 1.1em;
	max-width: 20cm;
	min-width: 25%;
	margin: auto;
}

.input {
	max-width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	margin: 1.5em;
}

.input-label {
	padding-right: 0.5em;
}

#output {
	max-width: 8cm;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;

	color: #bbbaae;
	background-color: #46062a;
	font-family: 'FiraMonoRegular', serif;

	font-size: 2em;
	padding: 1.5em;
	margin: auto;
}
